<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QR Generator</title>

    <style>
        body { background-color: LightBlue; }
		h1 { color: blue; }
        p { color: red; }
    </style>
</head>
<body>
   <h1>          *********  Welcome to QR code generator  *********          </h1>
   <img src="/static/cute_cat.jpeg" alt="Kitties" width="300" height="400">
   <form action = "http://localhost:8888/generate" method = "get">
       <button type="submit">Let's create a qr code</button>
   </form>
</body>
</html>